<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="R_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/app.log</File>
        <encoder>
            <pattern>[%d{dd.MM.yyyy HH:mm:ss}] %p: %t %c:%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>log/app.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="R_APP"/>
    </root>
    
</configuration>